<form  (ngSubmit)="onSubmit()">
<div class="container">
  <div class="content">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input
          type="email"
          class="form-control"
          aria-describedby="emailHelp"
          id="username" name="username" [(ngModel)]="userData.username"
        />
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div style="padding: 10px">
        <button type="submit" class="btn btn-primary">Iniciar sesion</button>
      </div>
      <div style="padding: 10px">
        <h6>si no tienes una cuenta puedes:</h6>
        <button type="submit" class="btn btn-link">Registrame</button>
      </div>
    </div>
  </div>
</form>
